<!DOCTYPE html>
<html lang="en" ng-app="ngdemoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resources/bootstrap/css/Plantilla.css" rel="stylesheet">
    <title>Microcurriculos</title>
  </head>
  
  
  


  <body>

    <header>
      <div class="container">
        <h1>Materia / Microcurriculos</h1>    
      </div>
    </header>

    <div class="container">
		<br>       
        
		<header>
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
				<div class="container-fluid">
			    	<div class="navbar-header">
			    	<!--   <li><a href="#!microcurriculo-view">Ver Todo</a></li> -->
<!-- 	</ul> -->
<!-- 	<div ng-view></div> -->
						<button class="navbar-toggle collapsed" data-toggle="collapse"ng-click="RedirectToURL()" data-target="#navbar-1" type="button">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- 	que tengo que sacar aqui -->
				      	<a href="#" class="navbar-brand">NombreUsuario</a>
			    	</div>
			    	<div class="collapse navbar-collapse" id ="navbar-1">
						<ul class="nav navbar-nav">
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#!materia">Mis Materias<span class="caret"></span></a>
						<div ng-view></div>
						  <ul class ="dropdown-menu">
						    <li><a href="#!materia1">Materias</a></li>
						    <li><a href="#!materia2">Materia #2</a></li>
						    <li><a href="#!materia3">Materia #3</a></li>
						    <li><a href="#!materia4">Materia #4</a></li>
						    <li><a href="#!materia5">Materia #5</a></li>
						  </ul> 
						</li>
						<li class="active" ><a href="Microcurriculos.html">Microcurriculos</a></li>
						<li class=""><a href="PlaneadoresAcademicos.html">Planeador docente</a></li>
						<li class=""><a href="Bitacora.html">Asistencia docente</a></li>
						</ul>
			      		<ul class="nav navbar-nav navbar-right" >
			        		<li class="" ><a href="../index.html">Salir</a></li>                               
			      		</ul>
			    	</div>
			  	</div>
			</nav>
		</header>

		<form action="" class="form-horizontal" role="form">
			
			<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Nombre Asignatura</label>
            		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true">CONSTITUCION POLITICA DE COLOMBIA</textarea>      
            		</div>
            		<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="textinput">Codigo</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
            		<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="textinput">Semestre</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
          		</div>
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Horas trabajo indep.</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div> 
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Horas Acomp. directo</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Tipo Curso</label>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            			<select class="form-first-name form-control" id="selectbasic" name="selectbasic" >
                            <option value="0">...Seleccione uno...</option>
                            <option value="1">Teorico</option>
                            <option value="2">Practico</option>
						</select>   
            		</div>
            		<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="textinput">Creditos</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
          		</div>
          	</div>

          	<div class="row">
          		<div class="form-group"> 
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Objetivo General</label>      
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<textarea class="form-control" id="textinput" rows="3"></textarea>    
            		</div> 
          		</div> 
         	</div>

         	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Competencias</label>
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
              			<textarea class="form-control" id="textinput" rows="3"></textarea>    
            		</div> 
          		</div> 
          	</div>

          	<div class="row">
	          	<div class="form-group">
	            	<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Justificacion</label>
	            	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
	              		<textarea class="form-control" id="textinput" rows="3"></textarea>    
	            	</div> 
	          	</div> 
          	</div>

          	<div class="row">
	          	<div class="form-group">
	            	<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Conocimientos previos</label>
	            	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
	              		<textarea class="form-control" id="textinput" rows="2"></textarea>    
	            	</div> 
	          	</div> 
          	</div>

          	<div class="row">
	          	<div class="form-group">
	            	<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Recursos Didacticos</label>
	            	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
	              		<textarea class="form-control" id="textinput" rows="2"></textarea>    
	            	</div> 
	          	</div> 
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Contenido</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
			                <tr>
			                	<th class="col-sm-3">Nombre Unidad</th>
			                  	<th class="col-sm-6">Temas de la unidad</th>
			                  	<th class="col-sm-3">Acciones</th>
			                </tr>
			                <tr>
			                 	<td class="">Unidad 1</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D
			                    	
			                  	</td>
			                  	<td class="">
			                  		<button type="button" class="btn btn-default "ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
			                      		<span class="glyphicon glyphicon-eye-open"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupAgregarTemas">
			                      		<span class="glyphicon glyphicon-plus"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash" ></span>
			                    	</button>
			                  	</td>
			                </tr>
			                <tr>
			                	<td class="">Unidad 2</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D
				                   
			                  	</td>
			                  	<td class=""> 
			                  		<button type="button" class="btn btn-default" ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
				                    	<span class="glyphicon glyphicon-eye-open"></span>
				                    </button>
				                    <button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarTemas">
				                    	<span class="glyphicon glyphicon-plus"></span>
				                    </button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"
			                    	data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash" ></span>
			                    	</button>
			                  	</td>
			                </tr>
			                <tr>
			                	<td class="">Unidad 3</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D
				                    
			                  	</td>
			                  	<td class="">
			                  		<button type="button" class="btn btn-default" ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
				                    	<span class="glyphicon glyphicon-eye-open"></span>
				                    </button>
				                    <button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarTemas">
				                    	<span class="glyphicon glyphicon-plus"></span>
				                    </button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash"></span>
			                    	</button>
			                  	</td>
			                </tr>
			                <tr>
			                	<td class="">Unidad 4</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D</td>
			                  	<td class="">
			                  		<button type="button" class="btn btn-default"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
			                      		<span class="glyphicon glyphicon-eye-open"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarTemas">
			                      		<span class="glyphicon glyphicon-plus"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash"></span>
			                    	</button>
			                    </td>
			                </tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
              			<button type="button" id="btnRegistrarse"  class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarUnidad">Agregar Unidad</button>
              		</div>
          		</div>  
          	</div>

          	

          	<div class="row">
          		<div class="form-group"> 
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Estrategias de aprendizaje</label>      
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<textarea class="form-control" id="textinput" rows="3"></textarea>    
            		</div> 
          		</div> 
       		</div>

       		<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Sistemas de evaluacion</label>
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
              			<textarea class="form-control" id="textinput" rows="5"></textarea>    
            		</div> 
          		</div> 
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Bibliografia</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
	                		<tr>
			                  <th class="">Autores</th>
			                  <th class="">Titulo</th>
			                  <th class="">Editorial</th>
			                  <th class="">Año</th>
			                  <th class="">Acciones</th>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
	                    			<button type="button" class="btn btn-primary" ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
	                      				<span class="glyphicon glyphicon-pencil"></span>
	                    			</button>
	                    			<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
	                      				<span class="glyphicon glyphicon-trash"></span>
	                    			</button>
	                  			</td>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
									<button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupModificarBibliografia">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
	                  			</td>
	                		</tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              			<button type="button" id="btnRegistrarsew" class="btn btn-primary" data-toggle="modal" ng-click="RedirectToURL()"data-target="#popupAgregarBibliografia">Agregar Bibliografia</button>
          			</div> 
          		</div>  
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Bibliografia en Ingles</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
	                		<tr>
			                  <th class="">Author</th>
			                  <th class="">Title</th>
			                  <th class="">Editorial</th>
			                  <th class="">year</th>
			                  <th class="">Actions</th>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
	                    			<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
	                      				<span class="glyphicon glyphicon-pencil"></span>
	                    			</button>
	                    			<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
	                      				<span class="glyphicon glyphicon-trash"></span>
	                    			</button>
	                  			</td>
	                		</tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              			<button type="button" id="btnRegistrarsew" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarBibliografia">Agregar Bibliografia en ingles</button>
          			</div> 
          		</div>  
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Cyber Bibliografia</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
	                		<tr>
			                  <th class="">Autores</th>
			                  <th class="">Titulo</th>
			                  <th class="">Editorial</th>
			                  <th class="">Año</th>
			                  <th class="">Acciones</th>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
	                    			<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
	                      				<span class="glyphicon glyphicon-pencil"></span>
	                    			</button>
	                    			<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
	                      				<span class="glyphicon glyphicon-trash"></span>
	                    			</button>
	                  			</td>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
									<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
	                  			</td>
	                		</tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              			<button type="button" id="btnRegistrarsew" class="btn btn-primary" data-toggle="modal" ng-click="RedirectToURL()"data-target="#popupAgregarBibliografia">Agregar Cyber Bibliografia</button>
          			</div> 
          		</div>  
          	</div>

          	
          	<br>
          	<div class="row">
				<div class="form-group">
            		<div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
						<button id="btnRegistrarse" name="BtnRegistrarse"ng-click="RedirectToURL()" class="btn btn-success">Guardar Microcurriculo</button>
						<button id="btnRegistrarse" name="BtnRegistrarse"ng-click="RedirectToURL()" class="btn btn-success">Enviar a Direccion</button>
						<button id="btnCancelar" name="btnCancelar"ng-click="RedirectToURL()" class="btn btn-default">Cancelar</button>
					</div>
          		</div>
          	</div>
      	</form>
    </div>

    <!--*****************************************************************************************************************************
                                                        VENTANAS MODALES   
        *****************************************************************************************************************************-->
 <!-- Modal Ver Temas de unidad-->
      <div class="modal fade" id="popupVerTemas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Ver temas de la unidad</h4>
            </div>
            <div id="nuevaAventura" class="modal-body">
              <form role="form">
                <div class="form-group">
                <label for="nombreAventura">Temas asociados a la unidad</label>
                <textarea type="text" class="form-control" id="nombreAventura" placeholder="Tema 1 e la unidad, Tema 2 de la unidad, tema 3 de la unidad." required rows="3"  readonly="true"></textarea>
              </div>
              </form> 
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal Agregar Unidad-->
      <div class="modal fade" id="popupAgregarUnidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Nueva Unidad</h4>
            </div>
            <div id="nuevaAventura" class="modal-body">
              <form role="form">
                <div class="form-group">
                <label for="nombreAventura">Nombre de la Unidad</label>
                <textarea type="text" class="form-control" id="nombreAventura" placeholder="Nombre de la nueva unidad" required rows="3"></textarea>
              </div>
              </form> 
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-success" id="botonAventura" onClick="nuevaAventura()">Guardar</button> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Modificar Unidad-->
      <div class="modal fade" id="popupModificarUnidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modificar nombre de la unidad</h4>
            </div>
            <div id="nuevaAventura" class="modal-body">
              <form role="form">
                <div class="form-group">
                <label for="nombreAventura">Nombre de la Unidad</label>
                <textarea type="text" class="form-control" id="nombreAventura" placeholder="Nombre de la nueva unidad" required rows="3"></textarea> 
              </div>
              </form> 
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-success" id="botonAventura" onClick="nuevaAventura()">Guardar</button> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal Agregar Tema-->
      <div class="modal fade" id="popupAgregarTemas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Agregar tema a la unidad</h4>
            </div>
            <div id="nuevaAventura" class="modal-body">
              <form role="form">
                <div class="form-group">
                <label for="nombreAventura">Nombre del tema</label>
                <textarea type="text" class="form-control" id="nombreTema" placeholder="Nombre del tema" rows="3"></textarea>
              </div>
              </form> 
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-success" id="botonAventura" onClick="nuevaAventura()">Guardar</button> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Agregar Bibliografia-->
      <div class="modal fade" id="popupAgregarBibliografia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Agregar Bibliografia</h4>
            </div>
            <div id="nuevaAventura" class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="nombreAventura">Autor(es)</label>
                  <textarea type="text" class="form-control" id="nombreAventura" placeholder="Nombre de los autores" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label for="nombreAventura">Titulo</label>
                  <textarea type="text" class="form-control" id="nombreAventura" placeholder="Titulo del libro" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label for="nombreAventura">Editorial</label>
                  <input type="text" class="form-control" id="nombreAventura" placeholder="Nombre de la editorial" ></input>
                </div>

                <div class="form-group">
                  <label for="nombreAventura">Año</label>
                  <input type="text" class="form-control" id="nombreAventura" placeholder="Año de edicion" ></input>
                </div>
              
              </form> 
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-success" id="botonAventura" onClick="nuevaAventura()">Guardar</button> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Modal Modificar Bibliografia-->
      <div class="modal fade" id="popupModificarBibliografia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Modificar Bibliografia</h4>
            </div>
            <div id="nuevaAventura" class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="nombreAventura">Autor(es)</label>
                  <textarea type="text" class="form-control" id="nombreAventura" placeholder="Nombre de los autores" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label for="nombreAventura">Titulo</label>
                  <textarea type="text" class="form-control" id="nombreAventura" placeholder="Titulo del libro" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label for="nombreAventura">Editorial</label>
                  <input type="text" class="form-control" id="nombreAventura" placeholder="Nombre de la editorial" ></input>
                </div>

                <div class="form-group">
                  <label for="nombreAventura">Año</label>
                  <input type="text" class="form-control" id="nombreAventura" placeholder="Año de edicion" ></input>
                </div>
              
              </form> 
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-success" id="botonAventura" onClick="nuevaAventura()">Guardar</button> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal Eliminar Registro-->
      <div class="modal fade" id="popupEliminarRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Cerrar</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Eliminar Registro</h4>
            </div>
              <div id="nuevaAventura" class="modal-body">Esta a punto de eliminar un registro. ¿Desea continuar con la operacion?.
              
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="botonAventura" onClick="nuevaAventura()">Eliminar</button> 
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

    <script type="text/javascript" src="resources/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="resources/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
