

    <div class="container">
		<br>       
  

		<form action="" class="form-horizontal" role="form">
			
			<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Nombre Asignatura</label>
            		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true">CONSTITUCION POLITICA DE COLOMBIA</textarea>      
            		</div>
            		<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="textinput">Codigo</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
            		<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="textinput">Semestre</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
          		</div>
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Horas trabajo indep.</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div> 
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Horas Acomp. directo</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Tipo Curso</label>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            			<select class="form-first-name form-control" id="selectbasic" name="selectbasic" >
                            <option value="0">...Seleccione uno...</option>
                            <option value="1">Teorico</option>
                            <option value="2">Practico</option>
						</select>   
            		</div>
            		<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="textinput">Creditos</label>
            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			<textarea class="form-control" id="textinput" rows="1" readonly="true"></textarea>      
            		</div>
          		</div>
          	</div>

          	<div class="row">
          		<div class="form-group"> 
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Objetivo General</label>      
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<textarea class="form-control" id="textinput" rows="3"></textarea>    
            		</div> 
          		</div> 
         	</div>

         	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Competencias</label>
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
              			<textarea class="form-control" id="textinput" rows="3"></textarea>    
            		</div> 
          		</div> 
          	</div>

          	<div class="row">
	          	<div class="form-group">
	            	<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Justificacion</label>
	            	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
	              		<textarea class="form-control" id="textinput" rows="3"></textarea>    
	            	</div> 
	          	</div> 
          	</div>

          	<div class="row">
	          	<div class="form-group">
	            	<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Conocimientos previos</label>
	            	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
	              		<textarea class="form-control" id="textinput" rows="2"></textarea>    
	            	</div> 
	          	</div> 
          	</div>

          	<div class="row">
	          	<div class="form-group">
	            	<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Recursos Didacticos</label>
	            	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
	              		<textarea class="form-control" id="textinput" rows="2"></textarea>    
	            	</div> 
	          	</div> 
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Contenido</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
			                <tr>
			                	<th class="col-sm-3">Nombre Unidad</th>
			                  	<th class="col-sm-6">Temas de la unidad</th>
			                  	<th class="col-sm-3">Acciones</th>
			                </tr>
			                <tr>
			                 	<td class="">Unidad 1</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D
			                    	
			                  	</td>
			                  	<td class="">
			                  		<button type="button" class="btn btn-default "ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
			                      		<span class="glyphicon glyphicon-eye-open"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupAgregarTemas">
			                      		<span class="glyphicon glyphicon-plus"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash" ></span>
			                    	</button>
			                  	</td>
			                </tr>
			                <tr>
			                	<td class="">Unidad 2</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D
				                   
			                  	</td>
			                  	<td class=""> 
			                  		<button type="button" class="btn btn-default" ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
				                    	<span class="glyphicon glyphicon-eye-open"></span>
				                    </button>
				                    <button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarTemas">
				                    	<span class="glyphicon glyphicon-plus"></span>
				                    </button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"
			                    	data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash" ></span>
			                    	</button>
			                  	</td>
			                </tr>
			                <tr>
			                	<td class="">Unidad 3</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D
				                    
			                  	</td>
			                  	<td class="">
			                  		<button type="button" class="btn btn-default" ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
				                    	<span class="glyphicon glyphicon-eye-open"></span>
				                    </button>
				                    <button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarTemas">
				                    	<span class="glyphicon glyphicon-plus"></span>
				                    </button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash"></span>
			                    	</button>
			                  	</td>
			                </tr>
			                <tr>
			                	<td class="">Unidad 4</td>
			                  	<td class="">Tema A; Tema B; Tema C; Tema D</td>
			                  	<td class="">
			                  		<button type="button" class="btn btn-default"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupVerTemas">
			                      		<span class="glyphicon glyphicon-eye-open"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarTemas">
			                      		<span class="glyphicon glyphicon-plus"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarUnidad">
			                      		<span class="glyphicon glyphicon-pencil"></span>
			                    	</button>
			                    	<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
			                      		<span class="glyphicon glyphicon-trash"></span>
			                    	</button>
			                    </td>
			                </tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
              			<button type="button" id="btnRegistrarse"  class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarUnidad">Agregar Unidad</button>
              		</div>
          		</div>  
          	</div>

          	

          	<div class="row">
          		<div class="form-group"> 
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="textinput">Estrategias de aprendizaje</label>      
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<textarea class="form-control" id="textinput" rows="3"></textarea>    
            		</div> 
          		</div> 
       		</div>

       		<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Sistemas de evaluacion</label>
            		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  
              			<textarea class="form-control" id="textinput" rows="5"></textarea>    
            		</div> 
          		</div> 
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Bibliografia</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
	                		<tr>
			                  <th class="">Autores</th>
			                  <th class="">Titulo</th>
			                  <th class="">Editorial</th>
			                  <th class="">Año</th>
			                  <th class="">Acciones</th>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
	                    			<button type="button" class="btn btn-primary" ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
	                      				<span class="glyphicon glyphicon-pencil"></span>
	                    			</button>
	                    			<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
	                      				<span class="glyphicon glyphicon-trash"></span>
	                    			</button>
	                  			</td>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
									<button type="button" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupModificarBibliografia">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
	                  			</td>
	                		</tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              			<button type="button" id="btnRegistrarsew" class="btn btn-primary" data-toggle="modal" ng-click="RedirectToURL()"data-target="#popupAgregarBibliografia">Agregar Bibliografia</button>
          			</div> 
          		</div>  
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Bibliografia en Ingles</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
	                		<tr>
			                  <th class="">Author</th>
			                  <th class="">Title</th>
			                  <th class="">Editorial</th>
			                  <th class="">year</th>
			                  <th class="">Actions</th>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
	                    			<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
	                      				<span class="glyphicon glyphicon-pencil"></span>
	                    			</button>
	                    			<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
	                      				<span class="glyphicon glyphicon-trash"></span>
	                    			</button>
	                  			</td>
	                		</tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              			<button type="button" id="btnRegistrarsew" class="btn btn-primary" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupAgregarBibliografia">Agregar Bibliografia en ingles</button>
          			</div> 
          		</div>  
          	</div>

          	<div class="row">
          		<div class="form-group">
            		<label class="control-label col-xs-2 col-sm-2 col-md-2 col-lg-2" for="passwordinput">Cyber Bibliografia</label>
            		<div class="table-responsive col-xs-10 col-sm-10 col-md-10 col-lg-10">
              			<table class="table table-striped table-bordered table-hover">  
	                		<tr>
			                  <th class="">Autores</th>
			                  <th class="">Titulo</th>
			                  <th class="">Editorial</th>
			                  <th class="">Año</th>
			                  <th class="">Acciones</th>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
	                    			<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
	                      				<span class="glyphicon glyphicon-pencil"></span>
	                    			</button>
	                    			<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
	                      				<span class="glyphicon glyphicon-trash"></span>
	                    			</button>
	                  			</td>
	                		</tr>
	                		<tr>
								<td class="">El autor</td>
								<td class="">El titulo del libro</td>
								<td class="">La editorial del libro</td>
								<td class="">2009</td>
								<td class="">
									<button type="button" class="btn btn-primary"ng-click="RedirectToURL()" data-toggle="modal" data-target="#popupModificarBibliografia">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" class="btn btn-danger" ng-click="RedirectToURL()"data-toggle="modal" data-target="#popupEliminarRegistro">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
	                  			</td>
	                		</tr>
              			</table>
            		</div>
            		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              			<button type="button" id="btnRegistrarsew" class="btn btn-primary" data-toggle="modal" ng-click="RedirectToURL()"data-target="#popupAgregarBibliografia">Agregar Cyber Bibliografia</button>
          			</div> 
          		</div>  
          	</div>

          	
          	<br>
          	<div class="row">
				<div class="form-group">
            		<div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
						<button id="btnRegistrarse" name="BtnRegistrarse"ng-click="RedirectToURL()" class="btn btn-success">Guardar Microcurriculo</button>
						<button id="btnRegistrarse" name="BtnRegistrarse"ng-click="RedirectToURL()" class="btn btn-success">Enviar a Direccion</button>
						<button id="btnCancelar" name="btnCancelar"ng-click="RedirectToURL()" class="btn btn-default">Cancelar</button>
					</div>
          		</div>
          	</div>
      	</form>
    </div>

    